<h1>HTML CSS hate account</h1>

<form action="/search" method="GET">
    <input type="text" name="query">
    <button type="submit">Rechercher</button>
</form>

<form action="/search/auteur" method="GET">
    <input type="text" name="author">
    <button type="submit">Rechercher auteur</button>
</form>

<form action="/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="mdp">
    <button type="submit">Rechercher utilisateur</button>
</form>

<h1>
    ajouter un livre
</h1>
<form action="/search/add_author" method="POST">
    <input type="text" name="title">
    <input type="text" name="author">
    <input type="number" name="year">
    <button type="submit">ajout dans la base de donnée</button>
</form>